<%= form_with model: tweet, data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |form| %>
  <% if flash[:tweet_errors] %>
    <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3 mx-3">
      <ul>
        <% flash[:tweet_errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_area :body, class: new_tweet_textarea_class, placeholder: "What's on your mind?" %>
  <div class="flex justify-end px-6 mt-20">
    <%= form.submit "Tweet", class: new_tweet_button_class %>
  </div>
<% end %>
